@import "../../var";
#Profile {
  > div {
    // line-height: 50px;
  }
  .progresses {
    .skill {
      width: 80%;
      height: 10px;
      border-radius: 0 10px 10px 0;
      background-color: $spColor;
      position: relative;
      transition: 1s;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      @include media("mobile") {
        margin-right: auto;
      }
      > span {
        top: -27px;
        position: absolute;
        text-transform: capitalize;
        &:first-child {
          left: 0px;
        }
        &:last-child {
          right: 0;
        }
      }
      .span {
        &::before {
          content: "%";
          right: -14px;
          position: absolute;
        }
      }
      &:first-child {
        transition-delay: 0.2s;
      }
      &:nth-child(2) {
        transition-delay: 0.3s;
      }
      &:nth-child(3) {
        transition-delay: 0.4s;
      }
      &:last-child {
        transition-delay: 0.5s;
      }
    }
  }
}
