@import "../../var";

.option {
  position: fixed;
  height: 100vh;
  width: 200px;
  background: $textColor;
  z-index: 10000000;
  transition: $mainTransition;
  left: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  &.active {
    left: 0px;
  }
  .option-list {
    position: absolute;
    top: 130px;
    right: -2px;
    background-color: $spColor;
    border-radius: 5px;
    right: -39px;
    cursor: pointer;
    i {
      padding: 10px;
      font-size: 1.2rem;
      color: var(--spin-color);
      // background-color: var(spin-color);
    }
  }
  .colors {
    width: 80%;
    height: 85px;
    background: #d1cece;
    margin: 20px;
    @include flexcenter();
    flex-direction: column;
    span {
      @include circle(25px);
      display: inline-block;
      // background-color: black;
      border: 3px solid #fff;
      cursor: pointer;
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
    span:first-child {
      margin: 0 25px 0 0;
      background-image: linear-gradient(45deg, #eb5424, #eb5224dc);
    }
    span:nth-child(2) {
      background-image: linear-gradient(45deg, #e91e63, #d81b60);
    }
    // span:nth-child(3) {
    //   background-image: linear-gradient(45deg, #0093e9, #80d0c7);
    // }

    // span:nth-child(4) {
    //   background-image: linear-gradient(45deg, #0ba360, #3cba92);
    // }
    // span:nth-child(5) {
    //   background-image: linear-gradient(45deg, #160a2d, #211141);
    // }
    h5 {
      color: var(--text-color);
    }
  }
  .editPersonal {
    width: 80%;
    height: auto;
    background-color: #d1cece;
    color: black;
    padding: 30px 0px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      color: var(--spin-color);
      font-size: 0.9rem;
      padding: 0 5px;
    }
    span {
      padding: 5px 1rem;
      border-radius: 20px;
      background-color: var(--second-color);
      opacity: 0.5;
      cursor: pointer;
      user-select: none;
    }
    span.active {
      opacity: 1;
    }
  }
  > .optionButton {
    cursor: pointer;
    background-color: var(--second-color);
    border-radius: 3px;
  }
}
